# --- 核心深度学习框架 ---
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
accelerate==1.6.0
transformers==4.48.1
# 注意：Diffusers 指定了特定 Commit，请不要更改，否则可能报错
# diffusers @ git+https://github.com/huggingface/diffusers.git@6f1042e36cd588a7b66498f45c3bb7085e4fa395

# --- 视频与图像处理 ---
decord==0.6.0
opencv-python==4.11.0.86
pillow==11.3.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
matplotlib==3.9.4

# --- 数据与工具 ---
numpy==2.1.2
einops==0.8.1
safetensors==0.7.0
tqdm==4.67.1
pyyaml==6.0.3
huggingface-hub==0.36.0
peft==0.17.0
pytorch-lightning==2.5.1
wandb==0.20.1

# --- 其他可能用到的工具 ---
scipy
pandas
packaging